@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    <a href="https://localhost:7061/api/Beer?message=Mensaje%20nuevo" target="_blank">Insertar Mensaje desde otro cliente</a>
    <h1>Mensajes</h1>
    
    <div id="content1">
    </div>
</div>


@section scripts{
    <script src="https://cdn.jsdelivr.net/npm/&#64;microsoft/signalr@3.1.8/dist/browser/signalr.min.js"></script>
    <script src="https://unpkg.com/rxjs@7.6.0/dist/bundles/rxjs.umd.min.js"></script>

    <script type="text/javascript">

        const subject = new rxjs.Subject();
        subject.subscribe((message) => {
            content1.innerHTML += `<div>${message}</div>`
        })

        const connection = new signalR.HubConnectionBuilder().withUrl("/message").build();

        connection.start().then(() => {
            console.log("Se conectó")
        }).catch(() => {
            console.error(error.message)
        })

        connection.on("sendMessage", (message) => {
            subject.next(message);
        })
    </script>
}